# PRIMARY GITHUB CONTEXT VARIABLES + ACTION INPUTS (Must set these for the action to work)

INPUT_FLEET= # name of fleet
INPUT_BALENA_TOKEN= # personal access token
INPUT_ENVIRONMENT=balena-cloud.com
INPUT_VERSIONBOT=false
INPUT_CACHE=true
INPUT_CREATE_REF=false

GITHUB_EVENT_PATH=/events/close-pr/event.json
GITHUB_WORKSPACE=/path/to/a/project

# SECONDARY GITHUB CONTEXT VARIABLES (Useful for tweaking the context)

GITHUB_WORKFLOW=build-release
GITHUB_BASE_REF=master
GITHUB_REPOSITORY_OWNER=20k-ultra
GITHUB_HEAD_REF=update-workflow
GITHUB_REPOSITORY=20k-ultra/action-tester
GITHUB_EVENT_NAME=pull_request
GITHUB_SHA=a55d8ab70cbc9cf79d37faa074ad4a7d3366e1dc

# This value is true when the action is actually running as an action on GH
GITHUB_ACTIONS=true

# OTHER GITHUB CONTEXT VARIALBES (Not that useful)

GITHUB_ACTOR=20k-ultra
GITHUB_PATH=/home/runner/work/_temp/_runner_file_commands/add_path_8531206a-e01c-4d9a-9101-8a95fb7a2114
GITHUB_ACTION=__run_3
GITHUB_RUN_NUMBER=27
GITHUB_REF=master
GITHUB_API_URL=https://api.github.com
GITHUB_ENV=/home/runner/work/_temp/_runner_file_commands/set_env_8531206a-e01c-4d9a-9101-8a95fb7a2114
GITHUB_RUN_ID=1214850046
GITHUB_GRAPHQL_URL=https://api.github.com/graphql
GITHUB_SERVER_URL=https://github.com
GITHUB_JOB=job1
GITHUB_RETENTION_DAYS=90
GITHUB_ACTION_REPOSITORY=
GITHUB_ACTION_REF=

# MISC GITHUB ACTION VARIABLES (Does not change context)

SELENIUM_JAR_PATH=/usr/share/java/selenium-server-standalone.jar
CONDA=/usr/share/miniconda
JAVA_HOME_11_X64=/usr/lib/jvm/adoptopenjdk-11-hotspot-amd64
JAVA_HOME=/usr/lib/jvm/adoptopenjdk-11-hotspot-amd64
GRADLE_HOME=/usr/share/gradle-7.2
XDG_CONFIG_HOME=/home/runner/.config
DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
ANT_HOME=/usr/share/ant
JAVA_HOME_8_X64=/usr/lib/jvm/adoptopenjdk-8-hotspot-amd64
HOMEBREW_PREFIX=/home/linuxbrew/.linuxbrew
HOMEBREW_SHELLENV_PREFIX=/home/linuxbrew/.linuxbrew
HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS=3650
BOOTSTRAP_HASKELL_NONINTERACTIVE=1
PIPX_BIN_DIR=/opt/pipx_bin
DEPLOYMENT_BASEPATH=/opt/runner
ANDROID_NDK_LATEST_HOME=/usr/local/lib/android/sdk/ndk/22.1.7171670
POWERSHELL_DISTRIBUTION_CHANNEL=GitHub-Actions-ubuntu20
DOTNET_MULTILEVEL_LOOKUP=0
RUNNER_OS=Linux
HOME=/home/runner
LANG=C.UTF-8
RUNNER_TRACKING_ID=github_3f2ef790-e3bc-4aa1-946c-8e39f285cf4f
RUNNER_TEMP=/home/runner/work/_temp
INVOCATION_ID=80e96ff7ea5b40f88b910d3e75137837
ANDROID_NDK_HOME=/usr/local/lib/android/sdk/ndk-bundle
HOMEBREW_NO_AUTO_UPDATE=1
NVM_DIR=/home/runner/.nvm
SGX_AESM_ADDR=1
ANDROID_HOME=/usr/local/lib/android/sdk
GOROOT_1_14_X64=/opt/hostedtoolcache/go/1.14.15/x64
RUNNER_USER=runner
ACCEPT_EULA=Y
USER=runner
HOMEBREW_CELLAR=/home/linuxbrew/.linuxbrew/Cellar
PIPX_HOME=/opt/pipx
GECKOWEBDRIVER=/usr/local/share/gecko_driver
CHROMEWEBDRIVER=/usr/local/share/chrome_driver
SHLVL=1
ANDROID_SDK_ROOT=/usr/local/lib/android/sdk
VCPKG_INSTALLATION_ROOT=/usr/local/share/vcpkg
HOMEBREW_REPOSITORY=/home/linuxbrew/.linuxbrew/Homebrew
RUNNER_TOOL_CACHE=/opt/hostedtoolcache
ImageVersion=20210831.9
DOTNET_NOLOGO=1
GRAALVM_11_ROOT=/usr/local/graalvm/graalvm-ce-java11-21.2.0
AZURE_EXTENSION_DIR=/opt/az/azcliextensions
PERFLOG_LOCATION_SETTING=RUNNER_PERFLOG
CHROME_BIN=/usr/bin/google-chrome
ANDROID_NDK_ROOT=/usr/local/lib/android/sdk/ndk-bundle
JOURNAL_STREAM=8:22201
RUNNER_WORKSPACE=/home/runner/work/action-tester
LEIN_HOME=/usr/local/lib/lein
LEIN_JAR=/usr/local/lib/lein/self-installs/leiningen-2.9.6-standalone.jar
PATH=/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/home/runner/.local/bin:/opt/pipx_bin:/usr/share/rust/.cargo/bin:/home/runner/.config/composer/vendor/bin:/usr/local/.ghcup/bin:/home/runner/.dotnet/tools:/snap/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
RUNNER_PERFLOG=/home/runner/perflog
CI=true
SWIFT_PATH=/usr/share/swift/usr/bin
ImageOS=ubuntu20
DEBIAN_FRONTEND=noninteractive
GOROOT_1_15_X64=/opt/hostedtoolcache/go/1.15.15/x64
AGENT_TOOLSDIRECTORY=/opt/hostedtoolcache
GOROOT_1_16_X64=/opt/hostedtoolcache/go/1.16.7/x64
_=/usr/bin/env
